* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 640px;
  width: 360px;
}

.container {
  display: flex;
  gap: 10px;
  left: 12px;
  width: 100%;
}

.container .carousel {
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 90%;
}

.carousel .item {
  background-color: white;
  flex: none;
  padding: 0 20px;
  width: 165px;
}

.carousel .item .image img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 155px;
}

.container .carousel .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .carousel .item .name {
  font-weight: 700;
  margin: 2px 0;
  text-align: center;
}

.btnStartCont {
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  border-radius: 8px;
  border-top: 1px solid #96d1f8;
  bottom: 0;
  box-shadow: black 0 1px 0;
  padding: 5px 10px;
  position: fixed;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  vertical-align: middle;
  width: 100%;

}
