* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 640px;
  width: 360px;
}

.container {
  border: 1px solid black;
  display: flex;
  gap: 10px;
  left: 12px;
  width: 100%;
}

.container .carousel {
  display: flex;
  margin: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 90%;
}

.carousel .item {
  background-color: white;
  flex: none;
  padding: 0 20px;
  width: 165px;
}

.carousel .item .image img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 155px;
}

.container .carousel .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .carousel .item .name {
  font-weight: 700;
  margin: 2px 0;
  text-align: center;
}
